.banner {
  background-color: black;
  height: 300px;
  
}
.row{
  > h2 {
    color: black;
    margin-left: 20px;
  }
> div {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  margin: 1px;
  }
}
.card{
width: 150px;
cursor: pointer;
transition: transform 0.5s;
&:hover {
 transform: translateY(-10px) scale(1.1);   
}
}